@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: hsl(217, 28%, 15%);
}

.menu-hover-animation {
    display: inline-block;
    position: relative;
}

.menu-hover-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 4px;
    left: 0;
    background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.menu-hover-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button-hover-animation {
    background: linear-gradient(90deg, hsl(176, 68%, 64%), rgba(255,255,255,0)) #2196f3;
    transition: background-color 0.3s ease-in-out;
}

.button-hover-animation:hover {
    background-color: hsl(176, 68%, 64%);
}

.hero-section-wave {
    background-image: url("bg-curvy-desktop.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: max(100vw, 1440px) 24rem;
}